.ns-container {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  min-width: 3em;
  min-height: 1.5em;
  margin-left: 0.25em;
  margin-top: -0.2em;
  border-right: 0.2em solid #eee;
  background: #eee url('icon.png') right center no-repeat;
}
.ns-container:first-child,
.ns-container-first { margin-left: 0; }

.ns-select {
  width: 200%; /* Hide the select's dropdown arrow in some browsers */
  height: 200%; /* Ensure is clickable in the container */
  margin: 0.2em 0.25em 0.2em 0.35em;
  padding: 0;
  font-family: inherit; /* Fix for some browsers that don't inherit this */
  font-size: 100%;      /* Fix for some browsers that don't inherit this */
  background-color: transparent;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none; /* Get rid of webkit styling */
}

/* Remove default browser focus outline for some browsers, and add our own styling
   to the contaier. Note that the .ns-focused class is toggled on focus/blur using JS. */
.ns-select:focus       { outline: none; }
.ns-focused .ns-select { color: #106ACA;}